NEXT_PUBLIC_BACKEND_URL=http://api:8000
BACKEND_USERNAME=admin
BACKEND_PASSWORD=admin123
NEXT_PUBLIC_SUPABASE_URL=https://ujxndbdaehzzxvejlipa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FYt26KFoN6aELZdg5pur4g_Hk0ab8qg
