.git
.gitignore
.venv
__pycache__/
*.py[cod]
*.log
*.pid
*.err
*.out
*.pem
*.ipynb
docker-compose.yml
railway.schema.json
frontend/node_modules/
frontend/.next/
frontend2/
Notebooks/
.env
.env.*
frontend/.env.local
