



# Git e caches
.git
__pycache__/
*.pyc
*.pyo
.venv/
*.log
*.out
*.err
*.ipynb
*.pem
*.log
*.pid
*.err
*.out
docker-compose.yml
railway.schema.json
.env
.env.*
# Dados pesados
dados/
dados_sample/
dados_*/
dados_csv/
*.parquet
*.csv
backend/dados_csv
backend/dados
backend/dados_sample
# Outros
dist/
build/

**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/node_modules/
**/dist/
**/build/
**/.DS_Store

*.log

# editor
.vscode/
.idea/